[submodule "Submodules/LibTorrent-Swift"]
	path = Submodules/LibTorrent-Swift
	url = https://github.com/XITRIX/LibTorrent-Swift.git
[submodule "Submodules/MVVMFoundation"]
	path = Submodules/MVVMFoundation
	url = https://github.com/XITRIX/MVVMFoundation.git
