*.lock
**/*.lock
Pods/
iTorrent.xcworkspace/xcuserdata
iTorrent.xcodeproj/xcuserdata
iTorrent.xcodeproj/project.xcworkspace/xcuserdata
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
.DS_Store
.idea
